
[submodule "text-dedup"]
	path = text-dedup
	url = git@github.com:AI4Bharat/text-dedup.git
	branch = main
[submodule "setu/dataproc/compute_image/custom-images"]
	path = setu/dataproc/compute_image/custom-images
	url = git@github.com:AI4Bharat/dataproc-custom-images.git
	branch = master
